{
    "DB" : {
        "development": {
            "USER" : "",
            "PASSWORD" : ""
        },
        "production": {
            "USER" : "",
            "PASSWORD" : ""
        }
    },
    "LEGACY_DB" : {
        "USER" : "",
        "PASSWORD" : ""
    },
    "AZURE_AD" : {
        "TENANT_ID" : "",
        "CLIENT_ID" : ""
    },
    "SERVICES" : {
        "ERP" : {
            "URL" : "",
            "CONSUMER_KEY" : "",
            "CONSUMER_SECRET" : "",
            "ACCESS_TOKEN" : "",
            "TOKEN_SECRET" : "",
            "REALM": "",
            "LAB_INTEGRATION_API_KEY": ""
        },
        "META" : {
            "URL" : ""
        }
    },
    "META_VERIFY_TOKEN": "",
    "META_PAGE_ACCESS_TOKEN": ""
}
