{
    "API" : {
        "URL" : "",
        "PORT" : ""
    },
    "APP" : {
        "URL" : "",
        "PORT" : ""
    },
    "DB" : {
        "development": {
            "DRIVER" : "",
            "CLIENT" : "",
            "HOST" : "",
            "PORT" : "",
            "USER" : "",
            "PASSWORD" : "",
            "DATABASE" : ""
        },
        "production": {
            "DRIVER" : "",
            "CLIENT" : "",
            "HOST" : "",
            "PORT" : "",
            "USER" : "",
            "PASSWORD" : "",
            "DATABASE" : ""
        }
    },
    "SERVICES" : {
        "TEST" : {
            "NAME" : "Test",
            "SLUG" : "/test"
        },
        "PAYMENT" : {
            "SLUG" : "/payment",
            "METHODS" : {
                "mercadopago" : {
                    "ACCESS_TOKEN" : "",
                    "WEBHOOK_SECRET" : ""
                }
            }
        },
        "ERP" : {
            "NAME" : "NetSuite",
            "SLUG" : "/erp",
            "URL" : "",
            "CONSUMER_KEY" : "",
            "CONSUMER_SECRET" : "",
            "ACCESS_TOKEN" : "",
            "TOKEN_SECRET" : "",
            "REALM": ""
        }
    }
}
